# secrets
backend/serviceAccountKey.json
backend/serviceAccountkey.json
backend/serviceAccount*.json
backend/*serviceAccount*.json
backend/*.env
.env
*.env
.env.example
.env.production
DEPLOYMENT_CHECKLIST.md
DEPLOYMENT.md
FIREBASE_SETUP.md
VERCEL_DEPLOYMENT.md